# Redis Helm Chart Values

auth:
  enabled: false

replica:
  replicaCount: 2

master:
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

replica:
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

persistence:
  enabled: true
  size: 10Gi
  storageClassName: default

metrics:
  enabled: true
  redis:
    enabled: true

sentinel:
  enabled: false
